
table.blueTable {
  width: 1000px;
  td {
    border: 2px solid #C8D7E3;
    padding: 4px 10px;
    font-size: 13px;
    color: #838383;
  }
  td:nth-child(odd) {
    background: #E3F2F5;
    color: #58849E;
    font-weight: 500;
    text-align: center;
  }
}








.blue_grid {
  width: 100%;

  /*
    :first-child {
      margin-bottom: -2px;
    }

    :nth-child(1) {
      margin-bottom: -2px;
    }*/

  display: table;
  border-collapse: collapse;
  border-color: #C8D7E3;
  border-width: 1px;
  border-style: solid;

  .firstRow {

  }

  .firstCell {
    //border-left: 1px solid #C8D7E3;
  }

  .colTitle, .colContent {
    border: 1px solid #C8D7E3;
    border-collapse: collapse;
    padding: 0.6rem;
  }
  .myRow {
    display: table-row;
  }
  .colTitle {
    border-collapse: collapse;
    background-color: #E3F2F5;

    /*    border-top: 1px solid #C8D7E3;
        border-bottom: 1px solid #C8D7E3;*/
  }
  .colContent {
    display: table-cell;
    background-color: #fff;
    /*    border: 1px solid #C8D7E3;*/
  }
}
